<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Quantity Available</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in gas_products %}
            <tr>
                <td><img src="{{ product.image.url }}" alt="Product Image" width="50"></td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantity_available }}</td>
                <td>₹{{ product.price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>